#Load Lib

In [1]:
import pandas as pd
import numpy as np

In [2]:
r_cols=["user_id","movie_id","rating","unix_timestamp"]
ratings=pd.read_csv("u.data",sep='\t',names=r_cols,encoding='latin-1')

In [3]:
ratings

       user_id  movie_id  rating  unix_timestamp
0          196       242       3       881250949
1          186       302       3       891717742
2           22       377       1       878887116
3          244        51       2       880606923
4          166       346       1       886397596
...        ...       ...     ...             ...
99995      880       476       3       880175444
99996      716       204       5       879795543
99997      276      1090       1       874795795
99998       13       225       2       882399156
99999       12       203       3       879959583

[100000 rows x 4 columns]

In [4]:
n_users=ratings.user_id.unique().shape[0]
n_items=ratings.movie_id.unique().shape[0]

In [5]:
print("The Number Of Users:",n_users)
print("The number Of Items:",n_items)

The Number Of Users: 943
The number Of Items: 1682

Create pivoit table for user and movie based on ratings

In [6]:
data=ratings.pivot_table(index='user_id',columns='movie_id',values='rating')

In [7]:
data

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,4.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
940,NaN,NaN,NaN,2.0,NaN,NaN,4.0,5.0,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
941,5.0,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
942,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
943,NaN,5.0,NaN,NaN,NaN,NaN,NaN,NaN,3.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [8]:
#replace nan values
data_matrix=data.replace(np.nan,0)

In [9]:
data_matrix

movie_id,1,2,3,4,5,6,7,8,9,10,...,1673,1674,1675,1676,1677,1678,1679,1680,1681,1682
user_id,,,,,,,,,,,,,,,,,,,,,
1,5.0,3.0,4.0,3.0,3.0,5.0,4.0,1.0,5.0,3.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,4.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,4.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
940,0.0,0.0,0.0,2.0,0.0,0.0,4.0,5.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
941,5.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
942,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
943,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

Find cosine semilarity for user and items

In [10]:
from sklearn.metrics.pairwise import pairwise_distances
user_similarity=pairwise_distances(data_matrix,metric='cosine')
item_similarity=pairwise_distances(data_matrix.T,metric='cosine')

In [11]:
user_similarity

array([[2.44249065e-15, 8.33069016e-01, 9.52540457e-01, ...,
        8.51383057e-01, 8.20492117e-01, 6.01825261e-01],
       [8.33069016e-01, 3.33066907e-16, 8.89408675e-01, ...,
        8.38515222e-01, 8.27732187e-01, 8.94202122e-01],
       [9.52540457e-01, 8.89408675e-01, 0.00000000e+00, ...,
        8.98757435e-01, 8.66583851e-01, 9.73444131e-01],
       ...,
       [8.51383057e-01, 8.38515222e-01, 8.98757435e-01, ...,
        0.00000000e+00, 8.98358201e-01, 9.04880419e-01],
       [8.20492117e-01, 8.27732187e-01, 8.66583851e-01, ...,
        8.98358201e-01, 1.11022302e-16, 8.17535338e-01],
       [6.01825261e-01, 8.94202122e-01, 9.73444131e-01, ...,
        9.04880419e-01, 8.17535338e-01, 0.00000000e+00]])

In [12]:
item_similarity

array([[0.00000000e+00, 5.97617822e-01, 6.69755213e-01, ...,
        1.00000000e+00, 9.52816933e-01, 9.52816933e-01],
       [5.97617822e-01, 1.11022302e-16, 7.26930825e-01, ...,
        1.00000000e+00, 9.21700637e-01, 9.21700637e-01],
       [6.69755213e-01, 7.26930825e-01, 1.11022302e-16, ...,
        1.00000000e+00, 1.00000000e+00, 9.03124947e-01],
       ...,
       [1.00000000e+00, 1.00000000e+00, 1.00000000e+00, ...,
        0.00000000e+00, 1.00000000e+00, 1.00000000e+00],
       [9.52816933e-01, 9.21700637e-01, 1.00000000e+00, ...,
        1.00000000e+00, 0.00000000e+00, 1.00000000e+00],
       [9.52816933e-01, 9.21700637e-01, 9.03124947e-01, ...,
        1.00000000e+00, 1.00000000e+00, 0.00000000e+00]])

Using formula for user and item we are calculating value

In [13]:
def predict(ratings, similarity, type='user'):
    if type == 'user':
        mean_user_rating = ratings.mean(axis=1).values  # Convert to numpy array
        ratings_diff = (ratings - mean_user_rating[:, np.newaxis])
        pred = mean_user_rating[:, np.newaxis] + similarity.dot(ratings_diff) / np.array([np.abs(similarity).sum(axis=1)]).T
    elif type == 'item':
        mean_item_rating = ratings.mean(axis=0).values  # Convert to numpy array
        ratings_diff = (ratings - mean_item_rating[np.newaxis, :])
        pred = mean_item_rating[np.newaxis, :] + ratings_diff.dot(similarity) / np.array([np.abs(similarity).sum(axis=1)])
    return pred

In [14]:
# prediction Table
user_prediction = predict(data_matrix, user_similarity, type='user')
item_prediction = predict(data_matrix, item_similarity, type='item')

In [15]:
user_prediction

array([[ 2.06532606,  0.73430275,  0.62992381, ...,  0.39359041,
         0.39304874,  0.3927712 ],
       [ 1.76308836,  0.38404019,  0.19617889, ..., -0.08837789,
        -0.0869183 , -0.08671183],
       [ 1.79590398,  0.32904733,  0.15882885, ..., -0.13699223,
        -0.13496852, -0.13476488],
       ...,
       [ 1.59151513,  0.27526889,  0.10219534, ..., -0.16735162,
        -0.16657451, -0.16641377],
       [ 1.81036267,  0.40479877,  0.27545013, ..., -0.00907358,
        -0.00846587, -0.00804858],
       [ 1.8384313 ,  0.47964837,  0.38496292, ...,  0.14686675,
         0.14629808,  0.14641455]])

In [16]:
input_item=34

In [17]:
Item_sim_table=pd.DataFrame(item_similarity)

In [18]:
Item_sim_table

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
0,0.000000,5.976178e-01,6.697552e-01,5.450621e-01,0.713286,0.883656,0.379021,0.518886,0.503712,0.726065,...,0.964613,1.0,1.000000,1.000000,0.964613,1.0,1.0,1.0,0.952817,0.952817
1,0.597618,1.110223e-16,7.269308e-01,4.974292e-01,0.681164,0.916437,0.616597,0.662998,0.744748,0.828918,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.921701,0.921701
2,0.669755,7.269308e-01,1.110223e-16,6.751336e-01,0.787043,0.893278,0.627079,0.799206,0.726331,0.841896,...,1.000000,1.0,1.000000,1.000000,0.967708,1.0,1.0,1.0,1.000000,0.903125
3,0.545062,4.974292e-01,6.751336e-01,4.440892e-16,0.665761,0.909692,0.510717,0.509764,0.580956,0.747439,...,1.000000,1.0,0.905978,0.905978,0.962391,1.0,1.0,1.0,0.943587,0.924782
4,0.713286,6.811638e-01,7.870434e-01,6.657605e-01,0.000000,0.962701,0.665231,0.740839,0.727552,0.944547,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.905789
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1678,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1679,1.000000,1.000000e+00,1.000000e+00,1.000000e+00,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,0.0,0.0,0.0,1.000000,1.000000
1680,0.952817,9.217006e-01,1.000000e+00,9.435867e-01,1.000000,1.000000,0.948502,0.917967,0.942640,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,0.000000,1.000000
1681,0.952817,9.217006e-01,9.031249e-01,9.247823e-01,0.905789,1.000000,0.948502,1.000000,0.928300,1.000000,...,1.000000,1.0,1.000000,1.000000,1.000000,1.0,1.0,1.0,1.000000,0.000000

In [19]:
#3. Find similarity user for 34 using cosine table

similar_input_item= Item_sim_table[input_item].sort_values(ascending=True).head(5).index

In [20]:
similar_input_item

Index([34, 77, 246, 1030, 794], dtype='int64')

In [21]:
#4.Convert in to list

similar_item_input=list(similar_input_item)

In [22]:
similar_item_input

[34, 77, 246, 1030, 794]

In [23]:
#5. Using similar_user_input,can select movie id from ratings table

similar_item_movieid_list=[]
for sim_item in similar_item_input:
    sim=list(ratings[ratings['user_id']==sim_item]['movie_id'])
    similar_item_movieid_list.append(sim)

In [24]:
len(similar_item_movieid_list)

5

In [25]:
similar_item_movieid_list

[[312,
  242,
  690,
  310,
  259,
  299,
  245,
  332,
  329,
  286,
  1024,
  324,
  294,
  292,
  990,
  289,
  898,
  899,
  288,
  991],
 [484,
  518,
  172,
  474,
  91,
  195,
  238,
  168,
  125,
  23,
  498,
  431,
  153,
  4,
  181,
  179,
  176,
  276,
  50,
  265,
  174,
  210,
  69,
  405,
  523,
  1028,
  52,
  144,
  778,
  89,
  483,
  357,
  100,
  133,
  201,
  511,
  97,
  56,
  268,
  250,
  215,
  209,
  127,
  641,
  246,
  15,
  175,
  455,
  833,
  31,
  252,
  25,
  132,
  1,
  154,
  96,
  173,
  28,
  519,
  527,
  121,
  156,
  199,
  192,
  636,
  98,
  191,
  134,
  222,
  183,
  42,
  228],
 [201,
  919,
  416,
  94,
  561,
  409,
  665,
  721,
  239,
  425,
  1218,
  68,
  82,
  8,
  406,
  816,
  728,
  184,
  121,
  596,
  80,
  423,
  356,
  202,
  578,
  98,
  294,
  1073,
  215,
  196,
  426,
  849,
  99,
  284,
  109,
  802,
  17,
  410,
  568,
  368,
  100,
  451,
  231,
  840,
  385,
  675,
  720,
  541,
  469,
  1101,
  1,
  588,
  895,
  719,
  161,
  236,
  932,
  145,
  547,
  29,
  470,
  402,
  369,
  289,
  403,
  260,
  1222,
  151,
  83,
  195,
  585,
  230,
  117,
  628,
  55,
  790,
  3,
  232,
  930,
  176,
  743,
  265,
  1232,
  101,
  831,
  758,
  250,
  38,
  444,
  210,
  25,
  420,
  41,
  393,
  138,
  652,
  211,
  412,
  475,
  853,
  238,
  441,
  567,
  12,
  208,
  95,
  746,
  679,
  24,
  1052,
  216,
  77,
  413,
  572,
  1411,
  993,
  254,
  81,
  118,
  1139,
  173,
  92,
  1028,
  559,
  198,
  235,
  981,
  401,
  1044,
  288,
  219,
  132,
  1228,
  633,
  97,
  741,
  11,
  228,
  576,
  178,
  798,
  204,
  431,
  411,
  1089,
  748,
  404,
  181,
  172,
  672,
  550,
  67,
  1188,
  96,
  841,
  185,
  809,
  69,
  432,
  223,
  570,
  724,
  1039,
  174,
  1135,
  227,
  133,
  616,
  447,
  257,
  941,
  155,
  651,
  418,
  50,
  1220,
  827,
  252,
  56,
  735,
  597,
  111,
  164,
  765,
  226,
  433,
  175,
  477,
  240,
  658,
  384,
  159,
  66,
  739,
  158],
 [],
 [242,
  887,
  118,
  475,
  50,
  238,
  514,
  221,
  557,
  24,
  847,
  751,
  1,
  269,
  248,
  150,
  420,
  127,
  275,
  181,
  286,
  14,
  116,
  109,
  285,
  473,
  224,
  455,
  137,
  273,
  13,
  1251,
  19,
  257,
  187,
  936,
  249,
  515,
  100]]

In [26]:
#6. Convert all the list as single
import itertools
similar_item_movieid_single_list=list(itertools.chain.from_iterable(similar_item_movieid_list))

In [27]:
len(similar_item_movieid_single_list)

326

In [28]:
similar_item_movieid_single_list

[312,
 242,
 690,
 310,
 259,
 299,
 245,
 332,
 329,
 286,
 1024,
 324,
 294,
 292,
 990,
 289,
 898,
 899,
 288,
 991,
 484,
 518,
 172,
 474,
 91,
 195,
 238,
 168,
 125,
 23,
 498,
 431,
 153,
 4,
 181,
 179,
 176,
 276,
 50,
 265,
 174,
 210,
 69,
 405,
 523,
 1028,
 52,
 144,
 778,
 89,
 483,
 357,
 100,
 133,
 201,
 511,
 97,
 56,
 268,
 250,
 215,
 209,
 127,
 641,
 246,
 15,
 175,
 455,
 833,
 31,
 252,
 25,
 132,
 1,
 154,
 96,
 173,
 28,
 519,
 527,
 121,
 156,
 199,
 192,
 636,
 98,
 191,
 134,
 222,
 183,
 42,
 228,
 201,
 919,
 416,
 94,
 561,
 409,
 665,
 721,
 239,
 425,
 1218,
 68,
 82,
 8,
 406,
 816,
 728,
 184,
 121,
 596,
 80,
 423,
 356,
 202,
 578,
 98,
 294,
 1073,
 215,
 196,
 426,
 849,
 99,
 284,
 109,
 802,
 17,
 410,
 568,
 368,
 100,
 451,
 231,
 840,
 385,
 675,
 720,
 541,
 469,
 1101,
 1,
 588,
 895,
 719,
 161,
 236,
 932,
 145,
 547,
 29,
 470,
 402,
 369,
 289,
 403,
 260,
 1222,
 151,
 83,
 195,
 585,
 230,
 117,
 628,
 55,
 790,
 3,
 232,
 930,
 176,
 743,
 265,
 1232,
 101,
 831,
 758,
 250,
 38,
 444,
 210,
 25,
 420,
 41,
 393,
 138,
 652,
 211,
 412,
 475,
 853,
 238,
 441,
 567,
 12,
 208,
 95,
 746,
 679,
 24,
 1052,
 216,
 77,
 413,
 572,
 1411,
 993,
 254,
 81,
 118,
 1139,
 173,
 92,
 1028,
 559,
 198,
 235,
 981,
 401,
 1044,
 288,
 219,
 132,
 1228,
 633,
 97,
 741,
 11,
 228,
 576,
 178,
 798,
 204,
 431,
 411,
 1089,
 748,
 404,
 181,
 172,
 672,
 550,
 67,
 1188,
 96,
 841,
 185,
 809,
 69,
 432,
 223,
 570,
 724,
 1039,
 174,
 1135,
 227,
 133,
 616,
 447,
 257,
 941,
 155,
 651,
 418,
 50,
 1220,
 827,
 252,
 56,
 735,
 597,
 111,
 164,
 765,
 226,
 433,
 175,
 477,
 240,
 658,
 384,
 159,
 66,
 739,
 158,
 242,
 887,
 118,
 475,
 50,
 238,
 514,
 221,
 557,
 24,
 847,
 751,
 1,
 269,
 248,
 150,
 420,
 127,
 275,
 181,
 286,
 14,
 116,
 109,
 285,
 473,
 224,
 455,
 137,
 273,
 13,
 1251,
 19,
 257,
 187,
 936,
 249,
 515,
 100]

In [29]:
#7. Unique movieid from the list

Unique_movieid_similar_item=set(similar_item_movieid_single_list)

In [30]:
len(Unique_movieid_similar_item)

279

In [31]:
#8. Input user watched movie_list

input_item_watched_movieid=list(ratings[ratings['user_id']==input_item]['movie_id'].values)

In [32]:
input_item_watched_movieid

[312,
 242,
 690,
 310,
 259,
 299,
 245,
 332,
 329,
 286,
 1024,
 324,
 294,
 292,
 990,
 289,
 898,
 899,
 288,
 991]

In [33]:
#9. Create a list which should have recom movieid to the input user

recom=[]
for per_id in Unique_movieid_similar_item:
    if(per_id in input_item_watched_movieid):
        pass
    else:
        recom.append(per_id)

In [34]:
len(recom)

259

In [35]:
sorted(recom)

[1,
 3,
 4,
 8,
 11,
 12,
 13,
 14,
 15,
 17,
 19,
 23,
 24,
 25,
 28,
 29,
 31,
 38,
 41,
 42,
 50,
 52,
 55,
 56,
 66,
 67,
 68,
 69,
 77,
 80,
 81,
 82,
 83,
 89,
 91,
 92,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 109,
 111,
 116,
 117,
 118,
 121,
 125,
 127,
 132,
 133,
 134,
 137,
 138,
 144,
 145,
 150,
 151,
 153,
 154,
 155,
 156,
 158,
 159,
 161,
 164,
 168,
 172,
 173,
 174,
 175,
 176,
 178,
 179,
 181,
 183,
 184,
 185,
 187,
 191,
 192,
 195,
 196,
 198,
 199,
 201,
 202,
 204,
 208,
 209,
 210,
 211,
 215,
 216,
 219,
 221,
 222,
 223,
 224,
 226,
 227,
 228,
 230,
 231,
 232,
 235,
 236,
 238,
 239,
 240,
 246,
 248,
 249,
 250,
 252,
 254,
 257,
 260,
 265,
 268,
 269,
 273,
 275,
 276,
 284,
 285,
 356,
 357,
 368,
 369,
 384,
 385,
 393,
 401,
 402,
 403,
 404,
 405,
 406,
 409,
 410,
 411,
 412,
 413,
 416,
 418,
 420,
 423,
 425,
 426,
 431,
 432,
 433,
 441,
 444,
 447,
 451,
 455,
 469,
 470,
 473,
 474,
 475,
 477,
 483,
 484,
 498,
 511,
 514,
 515,
 518,
 519,
 523,
 527,
 541,
 547,
 550,
 557,
 559,
 561,
 567,
 568,
 570,
 572,
 576,
 578,
 585,
 588,
 596,
 597,
 616,
 628,
 633,
 636,
 641,
 651,
 652,
 658,
 665,
 672,
 675,
 679,
 719,
 720,
 721,
 724,
 728,
 735,
 739,
 741,
 743,
 746,
 748,
 751,
 758,
 765,
 778,
 790,
 798,
 802,
 809,
 816,
 827,
 831,
 833,
 840,
 841,
 847,
 849,
 853,
 887,
 895,
 919,
 930,
 932,
 936,
 941,
 981,
 993,
 1028,
 1039,
 1044,
 1052,
 1073,
 1089,
 1101,
 1135,
 1139,
 1188,
 1218,
 1220,
 1222,
 1228,
 1232,
 1251,
 1411]

In [36]:
# Cross Checking
sorted(input_item_watched_movieid)

[242,
 245,
 259,
 286,
 288,
 289,
 292,
 294,
 299,
 310,
 312,
 324,
 329,
 332,
 690,
 898,
 899,
 990,
 991,
 1024]

In [37]:
# Checking the common movie list
list(set(Unique_movieid_similar_item)&set(input_item_watched_movieid))

[1024,
 898,
 259,
 899,
 286,
 288,
 289,
 292,
 294,
 299,
 690,
 310,
 312,
 324,
 329,
 332,
 990,
 991,
 242,
 245]

In [38]:
item_pred=pd.DataFrame(item_prediction)

In [39]:
item_pred

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
user_id,,,,,,,,,,,,,,,,,,,,,
1,2.133090,0.732774,0.596832,1.053820,0.614646,0.431000,1.850809,1.211096,1.527122,0.675875,...,0.363157,0.361164,0.364502,0.363442,0.359236,0.366459,0.368580,0.367519,0.357211,0.350885
2,1.795357,0.390258,0.216483,0.735119,0.233156,0.012067,1.515449,0.870260,1.161804,0.281579,...,-0.081933,-0.078492,-0.083148,-0.084208,-0.082373,-0.087238,-0.085117,-0.086177,-0.079321,-0.078700
3,1.772497,0.348991,0.178538,0.700153,0.191636,-0.026953,1.488058,0.837763,1.137394,0.248385,...,-0.127652,-0.124532,-0.131715,-0.132776,-0.127280,-0.137037,-0.134916,-0.135976,-0.126129,-0.124967
4,1.740505,0.316906,0.149008,0.668551,0.161334,-0.055466,1.457940,0.806652,1.108110,0.220655,...,-0.156073,-0.153352,-0.156781,-0.157841,-0.155787,-0.163759,-0.161638,-0.162699,-0.154223,-0.153531
5,1.911552,0.486472,0.354175,0.836574,0.361951,0.179591,1.637276,0.985146,1.310786,0.435130,...,0.080206,0.080952,0.081945,0.080885,0.081707,0.080355,0.082476,0.081416,0.077477,0.078498
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
939,1.779386,0.371171,0.201105,0.722227,0.214746,0.006202,1.503144,0.858876,1.151063,0.278633,...,-0.093593,-0.090607,-0.097201,-0.098261,-0.095121,-0.096640,-0.094519,-0.095579,-0.092426,-0.091484
940,1.851170,0.442195,0.287396,0.775071,0.297838,0.092714,1.567406,0.913644,1.223966,0.354590,...,0.000114,0.000478,0.001160,0.000100,-0.000307,-0.003113,-0.000992,-0.002053,0.000686,0.001008
941,1.719113,0.302325,0.133819,0.653410,0.149471,-0.065861,1.437328,0.790684,1.091604,0.207475,...,-0.164660,-0.161996,-0.165285,-0.166345,-0.164966,-0.168668,-0.166547,-0.167608,-0.163986,-0.163531
942,1.844592,0.431396,0.279894,0.773701,0.288118,0.077213,1.569476,0.905008,1.219244,0.341349,...,-0.019885,-0.020559,-0.019497,-0.020558,-0.018512,-0.021903,-0.019782,-0.020842,-0.018503,-0.015780
943,1.934484,0.502193,0.373525,0.851627,0.381317,0.218183,1.654581,1.011362,1.325785,0.473939,...,0.119394,0.123615,0.120609,0.119549,0.120475,0.122408,0.124529,0.123469,0.114618,0.115214

In [40]:
item_pred_Trans=item_pred.T

In [41]:
item_pred_Trans

user_id,1,2,3,4,5,6,7,8,9,10,...,934,935,936,937,938,939,940,941,942,943
0,2.133090,1.795357,1.772497,1.740505,1.911552,2.044881,2.469525,1.777490,1.731277,2.052873,...,1.987574,1.744994,1.954860,1.749771,1.835577,1.779386,1.851170,1.719113,1.844592,1.934484
1,0.732774,0.390258,0.348991,0.316906,0.486472,0.660768,1.065067,0.350544,0.307857,0.659376,...,0.572398,0.335016,0.569303,0.336284,0.444254,0.371171,0.442195,0.302325,0.431396,0.502193
2,0.596832,0.216483,0.178538,0.149008,0.354175,0.513340,0.970510,0.204274,0.142499,0.514830,...,0.442425,0.167172,0.370275,0.165408,0.270245,0.201105,0.287396,0.133819,0.279894,0.373525
3,1.053820,0.735119,0.700153,0.668551,0.836574,0.968727,1.360055,0.698514,0.657276,0.961350,...,0.896528,0.686219,0.912138,0.682596,0.793982,0.722227,0.775071,0.653410,0.773701,0.851627
4,0.614646,0.233156,0.191636,0.161334,0.361951,0.526745,0.958603,0.213510,0.154180,0.522311,...,0.449115,0.180717,0.410183,0.179596,0.290370,0.214746,0.297838,0.149471,0.288118,0.381317
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1677,0.366459,-0.087238,-0.137037,-0.163759,0.080355,0.236853,0.735706,-0.087832,-0.166582,0.241389,...,0.163599,-0.130331,0.094413,-0.141623,-0.011330,-0.096640,-0.003113,-0.168668,-0.021903,0.122408
1678,0.368580,-0.085117,-0.134916,-0.161638,0.082476,0.238974,0.737827,-0.085711,-0.164461,0.243510,...,0.165720,-0.128210,0.096534,-0.139502,-0.009210,-0.094519,-0.000992,-0.166547,-0.019782,0.124529
1679,0.367519,-0.086177,-0.135976,-0.162699,0.081416,0.237914,0.736766,-0.086772,-0.165521,0.242449,...,0.164660,-0.129271,0.095474,-0.140563,-0.010270,-0.095579,-0.002053,-0.167608,-0.020842,0.123469
1680,0.357211,-0.079321,-0.126129,-0.154223,0.077477,0.234537,0.719189,-0.087493,-0.160439,0.236237,...,0.161645,-0.125946,0.101054,-0.135405,-0.008111,-0.092426,0.000686,-0.163986,-0.018503,0.114618
1681,0.350885,-0.078700,-0.124967,-0.153531,0.078498,0.233584,0.719460,-0.085672,-0.160272,0.237087,...,0.160903,-0.125139,0.097121,-0.135772,-0.007068,-0.091484,0.001008,-0.163531,-0.015780,0.115214

In [42]:
item_pred_Trans[34]

0       1.735767
1       0.309168
2       0.140181
3       0.662129
4       0.152094
          ...
1677   -0.176340
1678   -0.174219
1679   -0.175279
1680   -0.167334
1681   -0.166901
Name: 34, Length: 1682, dtype: float64

In [43]:
mm=item_pred_Trans[34]

In [44]:
m=pd.DataFrame(mm)

In [45]:
m

            34
0     1.735767
1     0.309168
2     0.140181
3     0.662129
4     0.152094
...        ...
1677 -0.176340
1678 -0.174219
1679 -0.175279
1680 -0.167334
1681 -0.166901

[1682 rows x 1 columns]

In [46]:
v=m.T

In [47]:
v

,0,1,2,3,4,5,6,7,8,9,...,1672,1673,1674,1675,1676,1677,1678,1679,1680,1681
34,1.735767,0.309168,0.140181,0.662129,0.152094,-0.069347,1.452761,0.798859,1.099049,0.208145,...,-0.169333,-0.166269,-0.170189,-0.17125,-0.16817,-0.17634,-0.174219,-0.175279,-0.167334,-0.166901

In [48]:
v[187].values >=0.4

array([ True])

In [49]:
# From recomd list select hightest rated film which would like by the user. Based on User prediction

highest_Rated=[]
input_item_pre=pd.DataFrame(item_pred_Trans[input_item])
input_item_pred=input_item_pre.T
for re in recom:
    value=input_item_pred[re].values
    if(value>=1):
        highest_Rated.append(re)

In [50]:
len(highest_Rated)

23

In [51]:
# Checking the common movie list
list(set(recom)&set(input_item_watched_movieid))

[]

In [67]:
def itembased(input_item,item_similarity,item_predictions,similar_item_count,thres):
    #Convert the user_sim table into DataFrame
    item_sim_table=pd.DataFrame(item_similarity)
    #Find similarity user for 78 using cosine table
    similar_input_item= item_sim_table[input_item].sort_values(ascending=True).head(similar_item_count).index
    #Convert in to list
    similar_item_input=list(similar_input_item) 
    #Using similar_user_input,can select movie id from ratings table
    similar_item_movieid_list=[]
    for sim_item in similar_item_input:
        sim=list(ratings[ratings['user_id']==sim_item]['movie_id'])
        similar_item_movieid_list.append(sim)
        #Converting as a whole list
    import itertools
    similar_item_movieid_single_list=list(itertools.chain.from_iterable(similar_item_movieid_list))
    #Unique movieid from the list
    Unique_movieid_similar_item=set(similar_item_movieid_single_list)
    #Input user watched movie_list
    input_item_watched_movieid=list(ratings[ratings['user_id']==input_item]['movie_id'].values)
    #Create a list which should have recom movieid to the input user
    recom=[]
    for per_id in Unique_movieid_similar_item:
        if(per_id in input_item_watched_movieid):
            pass
        else:
            recom.append(per_id)
    #From recommendation list selecting only hightest rated(predicted) value
    highest_Rated=[]
    item_pred=pd.DataFrame(item_prediction)
    item_pred_Trans=item_pred.T
    input_item_pre=pd.DataFrame(item_pred_Trans[input_item])
    input_item_pred=input_item_pre.T
    for re in recom:
        value=input_item_pred[re].values
        if(value>=thres):
            highest_Rated.append(re)
            highest_Rated
            return highest_Rated

In [68]:
#def userbased(input_user,user_similarity,user_predictions,similar_user_count,similar_user_movieid_count,thres):
Recommended_user=itembased(25,item_similarity,item_pred,25,0.8)

In [69]:
len(Recommended_user)

1

In [70]:
Recommended_user

[10]